.app {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.tables {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tables-table {
  margin: 10px;
  border: 1px solid #efefef;
  padding: 20px;
  border-radius: 2%;
}

.table {
  border: 1px solid #efefef;
  padding: 30px;
  position: relative;
  border-radius: 2%;
}

.table-header {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.table-header-waitinglist {
  height: 80px;
  overflow-y: scroll;
}

.table-h1 {
  color: #555;
}

.table-mainimage {
  width: 600px;
  max-width: 600px;
  min-width: 600px;
}

.seat {
  width: 100px;
  height: 100px;
  background-color: #acdaafb5;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #33773a;
  cursor: pointer;
}

.seat-1 {
  top: 100px;
  left: 490px;
}

.seat-2 {
  top: 410px;
  left: 490px;
}

.seat-3 {
  top: 410px;
  left: 60px;
}

.seat-4 {
  top: 100px;
  left: 60px;
}

.seat-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.seat-user img {
  width: 70px;
  min-width: 70px;
}
