@import './animation-durations.scss';

.dnd-window-body-table-pots-pot {
  @keyframes winning-pot-6-1 {
    0% {
      top: 0px;
      left: 0px;
    }
    45% {
      top: 0px;
      left: 0px;
    }
    55% {
      top: 24px;
      left: 20px;
    }
    100% {
      top: 24px;
      left: 20px;
    }
  }

  .seat-6-1-winning-pot {
    // animation: winning-pot-6-1 $ANIMATION_CSS_WIN_POT_DURATION ease-out;
  }

  @keyframes winning-pot-6-2 {
    0% {
      top: 0px;
      left: 0px;
    }
    45% {
      top: 0px;
      left: 0px;
    }
    55% {
      top: 20px;
      left: -190px;
    }
    100% {
      top: 20px;
      left: -190px;
    }
  }

  .seat-6-2-winning-pot {
    // animation: winning-pot-6-2 $ANIMATION_CSS_WIN_POT_DURATION ease-out;
  }
}
