@import './animation-durations.scss';

.dnd-window-body-table-pots-pot {
  @keyframes collecting-pot-6-1 {
    from {
      top: 24px;
      left: 80px;
    }
    to {
      top: 0px;
      left: 0px;
    }
  }

  .seat-6-1-collecting-pot {
    animation: collecting-pot-6-1 $ANIMATION_CSS_POT_DURATION ease-out;
  }

  @keyframes collecting-pot-6-2 {
    from {
      top: 20px;
      left: -222px;
    }
    to {
      top: 0px;
      left: 0px;
    }
  }

  .seat-6-2-collecting-pot {
    animation: collecting-pot-6-2 $ANIMATION_CSS_POT_DURATION ease-out;
  }

  @keyframes collecting-pot-6-3 {
    from {
      top: -120px;
      left: -222px;
    }
    to {
      top: 0px;
      left: 0px;
    }
  }

  .seat-6-3-collecting-pot {
    animation: collecting-pot-6-3 $ANIMATION_CSS_POT_DURATION ease-out;
  }

  @keyframes collecting-pot-6-4 {
    from {
      top: -220px;
      left: 0px;
    }
    to {
      top: 0px;
      left: 0px;
    }
  }

  .seat-6-4-collecting-pot {
    animation: collecting-pot-6-4 $ANIMATION_CSS_POT_DURATION ease-out;
  }

  @keyframes collecting-pot-6-5 {
    from {
      top: -120px;
      left: 216px;
    }
    to {
      top: 0px;
      left: 0px;
    }
  }

  .seat-6-5-collecting-pot {
    animation: collecting-pot-6-5 $ANIMATION_CSS_POT_DURATION ease-out;
  }

  @keyframes collecting-pot-6-6 {
    from {
      top: -20px;
      left: 200px;
    }
    to {
      top: 0px;
      left: 0px;
    }
  }

  .seat-6-6-collecting-pot {
    animation: collecting-pot-6-6 $ANIMATION_CSS_POT_DURATION ease-out;
  }
}
