$ANIMATION_CSS_USER_CARD_DURATION: 0.3s;
$ANIMATION_CSS_TABLE_CARD_DURATION: 0.5s;

$TRANSITION_CSS_THROW_POT_DURATION: 0.4s;
$TRANSITION_CSS_COLLECT_POT_DURATION: 0.8s;
$TRANSITION_CSS_WIN_POT_DURATION: 1.5s;

$ANIMATION_CSS_WIN_POT_DURATION: 8s;
