@mixin minimum100with {
  width: 100%;
  max-height: 100%;
}

.image-loader {
  @include minimum100with;

  &-skeleton {
    @include minimum100with;
  }

  &-img {
    user-select: none;
    transition: opacity 0.4s;
    @include minimum100with;
  }

  &-isloading {
    opacity: 0;
    width: 5px;
    height: 4px;
  }
}

.language-switcher {
  fieldset {
    border: none !important;
  }

  .MuiSelect-select {
    display: flex;
    gap: 5px;

    img {
      height: 25px;
    }
  }
}

.unit-switcher {
  fieldset {
    border: none !important;
  }

  .MuiSelect-select {
    display: flex;
    gap: 5px;
    font-size: 14px;

    img {
      width: 21px !important;
    }
  }
}

.unit-switcher-img {
  width: 21px !important;
  margin-right: 15px;
}
