.language-switcher {
  fieldset {
    border: none !important;
  }

  .MuiSelect-select {
    display: flex;
    gap: 5px;

    img {
      height: 25px;
    }
  }
}

.home {
  background-color: #222;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 10px;

  &-tables {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.dragging {
  z-index: 10001;

  * {
    cursor: grabbing;
  }

  .dnd-window {
    --box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);
  }
}
