@import './commons.scss';

body,
#root {
  background-color: #181818;
  color: white;
  @include scrollbar;
}

.main {
  display: flex !important;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  &-header {
    min-height: 125px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-rightside {
      display: flex;
      flex-direction: row;
      position: relative;
      z-index: 1;
    }

    &-user {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &-avatar {
        overflow: hidden;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        padding: 2px;
        background-image: repeating-linear-gradient(#dcdddc, #919091c1 10%, #919091c1 100%);

        &-image {
          width: 86px;
          height: 86px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: 520px;
        }
      }

      &-balance {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
    }

    &-logout {
      margin: 10px;
    }
  }

  &-nav {
    background: linear-gradient(0deg, #1c1c1c 12%, #1c1c1c 72%, #585859 100%);

    &-active {
      background: linear-gradient(0deg, #551f1f 0%, #973a3a 60%, #873333 83%, #ba5252 100%) !important;
    }

    &-btn {
      min-width: 50px !important;
      border-right: 1px solid #999 !important;
      border-left: 1px solid #333 !important;
      border-radius: 0px !important;
      color: white !important;
      background: linear-gradient(0deg, #1c1c1c 12%, #1c1c1c 62%, #585859 100%);
      padding: 0px !important;

      &-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid #df3939 !important;
        }

        span {
          padding: 0px 20px;
        }
      }
    }
  }

  section {
    @include scrollbar;
  }

  &-section {
    padding-right: 0px !important;
    overflow-y: auto !important;

    .holdem {
      th {
        color: white;
      }
      &-table {
        background-color: #242424;
        border-left: 5px solid #0caa0c;
        margin: 10px;
        border-radius: 10px;
        width: 100%;

        &-title {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: #efb840;
          font-size: 16px;
          background-color: #0f0f0f;
          border-radius: 20px;
          border: 1px solid #efb840;
          text-align: center;
          padding: 5px 0px;
          max-width: 200px;
          height: 50px;
        }
        &-stak {
          color: white;
          font-size: 16px;
        }
        &-buyin {
          color: white;
          font-size: 18px;
        }
        &-size {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: #12c012;
          background-color: #213321;
          padding: 10px 2px;
          width: 70px;
          border-radius: 8px;
        }
        &-join {
          width: 10px;
        }
      }
    }
  }

  &-footer {
    background: linear-gradient(0deg, #1c1c1c 12%, #1c1c1c 72%, #585859 100%);
    top: auto !important;
    bottom: 0px;
  }
}

.admin {
  background-color: #171717;
  color: white;

  &-drawer {
    div {
      background: #eee !important;
    }
    span {
      color: black !important;
    }
  }

  &-content {
    padding: 30px;
  }
}

// start image loader
@mixin minimum100with {
  width: 100%;
  max-height: 100%;
}

.image-loader {
  @include minimum100with;

  &-skeleton {
    @include minimum100with;
  }

  &-img {
    user-select: none;
    transition: opacity 0.4s;
    @include minimum100with;
  }

  &-isloading {
    opacity: 0;
    width: 5px;
    height: 4px;
  }
}

// start language switcher
.language-switcher {
  fieldset {
    border: none !important;
  }

  .MuiSelect-select {
    display: flex;
    gap: 5px;

    img {
      height: 25px;
    }
  }
}

.small-dropdown {
  fieldset {
    border: none !important;
  }

  svg {
    fill: white !important;
  }

  .MuiSelect-select {
    display: flex;
    gap: 5px;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;

    img {
      width: 21px !important;
    }
  }

  &-img {
    width: 21px !important;
    margin-right: 15px;
  }
}

// SNOW
.snow-container {
  z-index: 0;
  position: fixed;
  top: 0px;
  height: 125px;
  width: 100vw;
  overflow: hidden;
}
$d: 10; // density
$s: 5s; // duration

$grad: ();
@for $i from 0 to $d {
  $v: random(4) + 2;
  $a: random(5) * 0.1 + 0.5;
  $grad: $grad,
    radial-gradient(
      $v + px $v + px at (random(600 - $v * 2) + $v) + px (random(600 - $v * 2) + $v) + px,
      rgba(255, 255, 255, $a) 50%,
      rgba(0, 0, 0, 0)
    ) !global;
}

.snow,
.snow:before,
.snow:after {
  position: absolute;
  top: -600px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: $grad;
  background-size: 600px 600px;
  animation: snow $s linear infinite;
  content: '';
}
.snow:after {
  margin-left: 200px;
  opacity: 0.4;
  animation-duration: $s * 2;
  animation-direction: reverse;
  filter: blur(3px);
}
.snow:before {
  animation-duration: $s * 3;
  animation-direction: reverse;
  margin-left: -300px;
  opacity: 0.5;
  filter: blur(1.5px);
}
@keyframes snow {
  to {
    transform: translateY(600px);
  }
}
