@mixin scrollbar {
  &::-webkit-scrollbar {
    scrollbar-width: thin;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #464646 !important;
    border: 1px solid #111;
    border-radius: 5px;
  }
}

@mixin summary {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
