@mixin scrollbar {
  // scrollbar-color: auto !important;
  // scrollbar-width: auto !important;

  &::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b8b8b8 !important;
    border: 2px solid #1a1a1a;
    border-radius: 8px;
  }
}

@mixin summary {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
