* {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

html {
  background-color: #222;
}

.home {
  background-color: #222;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: row;
  gap: 10px;

  &-tables {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;

    &-table {
      background-color: white;
      padding: 15px;
      border-radius: 20px;
    }
  }
}

.dragging {
  z-index: 10001;

  * {
    cursor: grabbing;
  }

  .dnd-window {
    --box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);
  }
}

.cash {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &-chips {
    // transform: scale(0.7);
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 3px;
    top: -15px;

    &-column {
      height: 13px;
      display: flex;
      flex-direction: column-reverse;

      &-chip {
        margin-top: -15px;
        height: 19px;
        width: 23px;
      }
    }
  }
}

.dnd {
  position: relative;
  z-index: 1201;
  font-size: 12px;

  &-window {
    box-shadow: var(--box-shadow);
    transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scale(var(--scale, 1));
    transition: box-shadow 300ms ease;

    // background-color: red;
    width: 800px;
    border-radius: 7px 7px 0px 0px;

    &-topbar {
      border-radius: 5px 5px 0px 0px;
      background-color: #1b1b1d;
      height: 30px;
      width: 100%;
      border-bottom: 2px solid #111111;
      cursor: grab;

      &-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

        &-title {
          user-select: none;
          color: white;
          font-weight: 400;
          font-size: 12px;
          padding: 5px;
          padding-left: 10px;
        }

        &-close {
          padding: 3px !important;

          &:hover {
            svg {
              fill: #ccc;
            }
          }
          svg {
            fill: white;
            width: 24px;
          }
        }
      }
    }

    &-body {
      line-height: 0px;
      border-top: 2px solid #232323;

      &-table {
        position: relative;

        &-backgroundimg {
          user-select: none;
          max-width: 100%;
          width: 100%;
          min-width: 100%;
        }

        &-total {
          padding: 0px 10px;
          min-width: 150px;
          user-select: none;
          left: 50%;
          transform: translate(-50%, -50%);
          top: 210px;
          font-size: 14px;
          font-weight: 400;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: absolute;
          height: 25px;
          line-height: 20px;
          border-radius: 10px;
          text-align: center;
          color: #fcc933;
          background-color: rgba($color: #000000, $alpha: 0.3);

          &-label {
            margin-right: 5px;
          }
        }

        &-cards {
          position: absolute;
          left: 240px;
          top: 230px;
          display: flex;
          flex-direction: row;
          gap: 8px;

          .card-red {
            color: #cb1515;
          }
        }

        &-pot {
          user-select: none;
          position: absolute;
          left: 385px;
          top: 345px;
          font-size: 14px;
          font-weight: 400;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: absolute;
          height: 20px;
          line-height: 20px;
          border-radius: 10px;
          text-align: center;
          color: white;
          background-color: rgba($color: #000000, $alpha: 0.3);
          padding: 0px 5px;
        }

        &-actions {
          position: absolute;
          z-index: 9;
          width: 100%;
          height: 130px;
          bottom: 0px;

          &-joingame {
            user-select: none;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 10px;

            position: absolute;
            bottom: 20px;
            right: 20px;

            img {
              height: 40px;
            }

            &-timer {
              display: flex;
              flex-direction: row;
              gap: 10px;
              background: rgba($color: #000000, $alpha: 0.7);
              border-radius: 8px;
              position: absolute;
              top: -240px;
              left: -190px;
              padding: 10px 30px;
              align-items: center;

              .timer-text {
                color: white !important;
                font-size: 20px;
                font-weight: bold;
                user-select: none;
              }

              .timer-action-circle {
                color: #ccc !important;
              }
            }
          }

          &-joinplay {
            position: absolute;
            bottom: 20px;
            right: 70px;
            user-select: none;
          }

          &-leavegame {
            position: absolute;
            bottom: 10px;
            left: 20px;
            display: flex;
            flex-direction: column;
            gap: 0px;
          }

          &-preturn {
            position: absolute;
            bottom: 20px;
            right: 70px;
            display: flex;
            flex-direction: row;
            gap: 0px;
          }

          &-gameturn {
            position: absolute;
            bottom: 7px;
            right: 20px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            &-firstrow {
              display: flex;
              flex-direction: row;
              gap: 10px;

              &-percentactions {
                display: flex;
                flex-direction: row;
                gap: 4px;

                &-potaction {
                  height: 25px;
                  padding: 0px 2px;
                  background-color: #444647;
                  color: #b4b4b4;
                  outline: none;
                  border: 1px solid black;
                  border-radius: 3px;
                  cursor: pointer;

                  &:hover {
                    background-color: #343637;
                  }
                }
              }

              &-price {
                color: white;
                font-size: 14px;

                input {
                  margin-right: 3px;
                  margin-left: 3px;
                  font-size: 12px;
                  width: 60px;
                  padding: 3px;
                  height: 25px;
                  line-height: 20px;
                  user-select: none;
                  color: white;

                  box-shadow: inset 0 0 10px #000;
                  background-color: #111;
                  border-bottom: 1px solid #555;
                  border-radius: 5px;
                  outline: none;
                }
              }

              &-slider {
                width: 50px !important;
              }
            }

            &-secondrow {
              display: flex;
              flex-direction: row;
              gap: 7px;
            }

            &-timebank {
              position: absolute;
              top: -35px;

              .action-button-front {
                min-width: 50px;
                height: 30px;
              }
            }
          }

          &-showcards {
            position: absolute;
            bottom: 7px;
            right: 20px;
            display: flex;
            flex-direction: column;
            gap: 18px;

            &-label {
              color: white;
              font-size: 14px;
            }

            &-buttons {
              display: flex;
              flex-direction: row;
              gap: 7px;

              .cards {
                display: flex;
                flex-direction: row;
                gap: 7px;
              }

              .action-button-front {
                min-width: 50px;
                height: 45px;
                color: inherit;

                .card-game {
                  height: 30px;
                  width: 36px;

                  &-number {
                    margin-left: -4px;
                  }
                  &-smallsign {
                    top: 5px;
                    left: 15px;
                  }

                  &-bigsign {
                    display: none;
                  }
                }
              }
            }
          }

          &-achievements {
            position: absolute;
            bottom: 14px;
            left: 140px;
            padding: 12px;
            font-size: 16px;
            color: white;
            background-color: #000;
            border-radius: 10px;
          }
        }

        &-seats {
          &-seat {
            position: absolute;
            z-index: 10;

            &-user {
              &-avatar {
                overflow: hidden;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                padding: 2px;
                background-image: repeating-linear-gradient(#dcdddc, #919091c1 10%, #919091c1 100%);

                &-image {
                  width: 86px;
                  height: 86px;
                  border-radius: 50%;
                  background-repeat: no-repeat;
                  background-size: 520px;
                }

                .avatar-1 {
                  background-position: -4px -5px;
                }

                .avatar-2 {
                  background-position: -110px -5px;
                }
              }

              &-box {
                transform: perspective(5px) rotateX(-1deg);
                border-top: 2px solid #2b2b2b;
                position: absolute;
                z-index: 10;
                top: 80px;
                left: -10px;
                box-shadow: 0 -2px 2px -2px #ddd;
                width: 110px;
                height: 50px;
                background: linear-gradient(10deg, #333, #000);
              }

              &-username {
                padding-top: 2px;
                user-select: none;
                color: #bbb;
                top: 80px;
                left: 0px;
                width: 92px;
                height: 20px;
                line-height: 20px;
                position: absolute;
                z-index: 11;
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                overflow: hidden;
                white-space: nowrap;
              }

              &-cash {
                user-select: none;
                line-height: 20px;
                border-top: 2px solid #444;
                position: absolute;
                padding-top: 5px;
                top: 104px;
                font-size: 14px;
                left: 0px;
                z-index: 11;
                text-align: center;
                width: 100%;
                height: 20px;
                color: #71c2f3;
                font-weight: 500;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .sitting-out {
                  font-weight: bold;
                  color: #575757;
                }

                .all-in {
                  font-weight: bold;
                  color: #e63030;
                }
              }

              &-cards {
                position: absolute;
                top: 5px;
                left: 0px;
                z-index: 1;
                width: 90px;
                height: 100px;

                .card-game {
                  position: absolute;
                  top: 3px;
                  // transition: all 2s;
                }

                .card-back {
                  padding: 0px;

                  img {
                    width: 57px;
                  }
                }

                .card-hide {
                  display: none;
                }

                .card-red {
                  color: #cb1515;
                }

                .card-1 {
                  left: -6px;
                  transform: rotate(-5deg);
                }

                .card-2 {
                  left: 38px;
                  transform: rotate(5deg);
                }

                // .card-3 {
                //   left: 170px;
                // }

                // .card-4 {
                //   left: 280px;
                // }
              }

              &-dealer {
                user-select: none;
                position: absolute;

                img {
                  width: 20px;
                  height: 15px;
                }
              }

              &-pot {
                user-select: none;
                font-size: 14px;
                font-weight: 400;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: absolute;
                height: 20px;
                line-height: 20px;
                border-radius: 10px;
                text-align: center;
                color: white;
                background-color: rgba($color: #000000, $alpha: 0.3);
                padding: 0px 5px;
              }

              &-status {
                user-select: none;
                position: absolute;
                z-index: 11;
                top: 50px;
                left: 10px;

                .user-status-box {
                  width: 70px;
                  height: 27px;
                  font-weight: bold;
                  font-size: 14px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: rgba($color: #000000, $alpha: 0.8);
                  text-align: center;
                  box-shadow: 0px 0px 3px 2px currentColor;
                  border-radius: 3px;

                  &-Fold {
                    color: #e22d2c;
                  }

                  &-Call {
                    color: #eabc60;
                  }

                  &-Check {
                    color: #f5c31f;
                  }

                  &-Raise {
                    color: #21c7d4;
                  }

                  &-All-In {
                    color: #e63030;
                  }
                }
              }

              &-timeout {
                position: absolute;
                top: 129px;
                left: -6px;
                z-index: 10;
              }

              .seat-user-timeout-extra {
                .MuiLinearProgress-bar {
                  background-image: linear-gradient(to right, #f5522f, #b82018);
                  transition: transform 0.1s linear;
                }
              }

              &-country {
                user-select: none;
                position: absolute;
                z-index: 10;
                top: 50px;
                right: -15px;
              }

              &-hot {
                user-select: none;
                position: absolute;
                z-index: 10;
                top: 50px;
                left: -15px;

                img {
                  width: 20px;
                }
              }
            }

            &-empty {
              cursor: pointer;
              display: flex;
              user-select: none;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 90px;
              height: 90px;
              border-radius: 50%;
              background-color: rgba(10, 10, 10, 0.8);

              &-circle {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                color: #f3f3f3;
                border: 2px solid #323332;

                p {
                  margin-top: 5px;
                }

                .arrow-bottom {
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  &-triangle-small {
                    width: 10px;
                    fill: #777;
                  }

                  &-triangle-big {
                    width: 15px;
                    fill: #777;
                  }
                }
              }
            }
          }

          &-authseat {
            .dnd-window-body-table-seats-seat-user-username {
              color: #f6ad01;
            }

            .dnd-window-body-table-seats-seat-user-cards {
              display: block !important;

              &:hover {
                opacity: 1;
                filter: brightness(70%);
              }
            }
          }

          &-foldSeat {
            .dnd-window-body-table-seats-seat-user-cards {
              display: none;
              filter: brightness(40%);
              opacity: 0.8;
            }
          }

          &-turnseat {
            @keyframes turnAnimation {
              30% {
                box-shadow: 0px 0px 6px 4px white;
              }
              70% {
                box-shadow: 0px 0px 6px 4px white;
              }
            }

            .dnd-window-body-table-seats-seat-user-box {
              animation: turnAnimation 1.2s ease-in-out infinite;
            }
          }
        }
      }
    }
  }
}
