@font-face {
  font-family: 'Ember';
  src: url('src/styles/fonts/ember/AmazonEmber_W_Rg.eot');
  src:
    url('src/styles/fonts/ember/AmazonEmber_W_Rg.eot?#iefix') format('embedded-opentype'),
    url('src/styles/fonts/ember/AmazonEmber_W_Rg.woff') format('woff'),
    url('src/styles/fonts/ember/AmazonEmber_Rg.ttf') format('truetype');
}

* {
  font-family: 'Ember' !important;
}

.language-switcher {
  fieldset {
    border: none !important;
  }

  .MuiSelect-select {
    display: flex;
    gap: 5px;

    img {
      height: 25px;
    }
  }
}

.categories {
  &-swiper {
    // width: 100%;
    // height: 100%;

    &-slide {
      width: auto;

      &-card {
        display: flex;
        flex-direction: column;
        gap: 24px;
        text-align: center;
        padding-bottom: 40px;

        &-header {
          width: 180px;
          height: 180px;
          background: rgba(0, 0, 0, 0.04);
          border-radius: 50%;
          transition: border-radius 0.7s;

          &-image {
            width: 130px;
            height: 130px;
            margin: 25px auto;
            user-select: none;
            cursor: pointer;
          }
        }

        &-title {
          font-size: 18px;
          font-weight: 700;
          line-height: 24px;
          cursor: default;
          user-select: none;
        }
      }
    }

    .swiper-slide-active {
      .categories-swiper-slide-card-header {
        border-radius: 5%;
      }
    }
  }
}

.food-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 400px;
}

.modal {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border: 1px solid #e4dfdf;
  border-radius: 10px;
  padding: 15px;
}

.home {
  background-color: #222;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 10px;

  &-tables {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.dragging {
  z-index: 10001;

  * {
    cursor: grabbing;
  }

  .dnd-window {
    --box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);
  }
}

.dnd {
  position: relative;
  z-index: 10000;
  font-size: 12px;

  &-window {
    box-shadow: var(--box-shadow);
    transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scale(var(--scale, 1));
    transition: box-shadow 300ms ease;

    background-color: red;
    width: 800px;
    border-radius: 7px 7px 0px 0px;

    &-topbar {
      border-radius: 5px 5px 0px 0px;
      background-color: #1b1b1d;
      height: 30px;
      width: 100%;
      border-bottom: 2px solid #111111;
      cursor: grab;

      &-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

        &-title {
          color: white;
          font-weight: 400;
          font-size: 12px;
          padding: 5px;
          padding-left: 10px;
        }
      }
    }

    &-body {
      line-height: 0px;
      border-top: 2px solid #232323;

      &-table {
        position: relative;

        &-backgroundimg {
          max-width: 100%;
          width: 100%;
          min-width: 100%;
        }

        &-total {
          left: 355px;
          top: 200px;
          font-size: 14px;
          font-weight: 400;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 150px;
          height: 23px;
          line-height: 20px;
          border-radius: 10px;
          text-align: center;
          color: #fcc933;
          background-color: rgba($color: #000000, $alpha: 0.3);
        }

        &-cards {
          position: absolute;
          left: 265px;
          top: 230px;
          display: flex;
          flex-direction: row;
          gap: 8px;
        }

        &-pot {
          position: absolute;
          left: 395px;
          top: 320px;
          font-size: 14px;
          font-weight: 400;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: absolute;
          height: 20px;
          line-height: 20px;
          border-radius: 10px;
          text-align: center;
          color: white;
          background-color: rgba($color: #000000, $alpha: 0.3);
          padding: 0px 5px;
        }

        &-actions {
          width: 100%;
          height: 130px;
          bottom: 0px;
          position: absolute;

          &-joingame {
            position: absolute;
            bottom: 60px;
            right: 20px;
          }

          &-gameturn {
            position: absolute;
            bottom: 7px;
            right: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &-raisebuttons {
              display: flex;
              flex-direction: row;
              gap: 10px;

              &-percentactions {
                display: flex;
                flex-direction: row;
                gap: 4px;

                button {
                  height: 25px;
                  padding: 0px 2px;
                  background-color: #444647;
                  color: #b4b4b4;
                  outline: none;
                  border: 1px solid black;
                  border-radius: 3px;
                  cursor: pointer;

                  &:hover {
                    background-color: #343637;
                  }
                }
              }

              &-price {
                font-size: 16px;
                background-color: #171717;
                border-top: 7px solid #0b0b0b;
                width: 50px;
                height: 23px;
                color: white;
                line-height: 20px;
                text-align: center;
                display: flex;
                flex-direction: row;
              }

              &-slider {
                width: 70px !important;
              }
            }

            &-callfold {
              display: flex;
              flex-direction: row;
              gap: 7px;
            }
          }
        }

        &-seats {
          &-seat {
            position: absolute;

            &-user {
              &-avatar {
                overflow: hidden;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                padding: 2px;
                background-image: repeating-linear-gradient(#dcdddc, #919091c1 10%, #919091c1 100%);

                &-image {
                  width: 86px;
                  height: 86px;
                  border-radius: 50%;
                  background-repeat: no-repeat;
                  background-size: 520px;
                }

                .avatar-1 {
                  background-position: -4px -5px;
                }

                .avatar-2 {
                  background-position: -110px -5px;
                }
              }

              &-box {
                border-top: 2px solid #2b2b2b;
                position: absolute;
                z-index: 10;
                top: 80px;
                left: -10px;
                box-shadow: 0 -2px 2px -2px #ddd;

                img {
                  width: 110px;
                }
              }

              &-username {
                top: 81px;
                left: 0px;
                width: 92px;
                height: 20px;
                line-height: 20px;
                position: absolute;
                z-index: 11;
                text-align: center;
                color: #f6ad01;
                font-size: 14px;
                font-weight: 500;
                overflow: hidden;
                white-space: nowrap;
              }

              &-cash {
                position: absolute;
                top: 116px;
                font-size: 14px;
                left: 0px;
                z-index: 11;
                text-align: center;
                width: 100%;
                color: #71c2f3;
                font-weight: 500;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
              }

              &-cards {
                position: absolute;
                top: 5px;
                left: 0px;
                z-index: 1;
                width: 90px;
                height: 100px;

                .gamecard {
                  position: absolute;
                  top: 0px;
                }

                .backcard {
                  padding: 0px;
                  top: 10px;

                  img {
                    width: 57px;
                  }
                }

                .card-1 {
                  left: -6px;
                  transform: rotate(-5deg);
                }

                .card-2 {
                  left: 38px;
                  transform: rotate(5deg);
                }

                // .card-3 {
                //   left: 170px;
                // }

                // .card-4 {
                //   left: 280px;
                // }
              }

              &-dealer {
                position: absolute;

                img {
                  width: 20px;
                  height: 15px;
                }
              }

              &-pot {
                font-size: 14px;
                font-weight: 400;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: absolute;
                height: 20px;
                line-height: 20px;
                border-radius: 10px;
                text-align: center;
                color: white;
                background-color: rgba($color: #000000, $alpha: 0.3);
                padding: 0px 5px;
              }

              &-status {
              }

              &-hot {
              }

              &-country {
              }

              &-winner {
              }

              &-achievement {
              }
            }

            &-empty {
              cursor: pointer;
              display: flex;
              user-select: none;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 90px;
              height: 90px;
              border-radius: 50%;
              background-color: rgba(10, 10, 10, 0.8);

              &-circle {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                color: #f3f3f3;
                border: 2px solid #323332;

                img {
                  width: 26px;
                  min-width: 26px;
                  max-width: 26px;
                }
              }
            }
          }

          &-authseat {
          }

          &-turnseat {
            @keyframes turnAnimation {
              40% {
                box-shadow: 0px 0px 6px 4px white;
              }
              60% {
                box-shadow: 0px 0px 6px 4px white;
              }
            }

            .dnd-window-body-table-seats-seat-user-box {
              animation: turnAnimation 1.6s ease-in-out infinite;
            }
          }

          .seat-6-1 {
            bottom: 12%;
            left: calc(50% - 45px);

            .dnd-window-body-table-seats-seat-user-dealer {
              top: -20px;
              left: -20px;
            }

            .dnd-window-body-table-seats-seat-user-pot {
              top: -34px;
              left: 30px;
            }
          }

          .seat-6-2 {
            bottom: 28%;
            left: 5%;

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 43px;
              right: -45px;
            }
          }

          .seat-6-3 {
            top: 12%;
            left: 8%;

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 103px;
              right: -40px;
            }

            .dnd-window-body-table-seats-seat-user-pot {
              top: 130px;
              right: -50px;
            }
          }

          .seat-6-4 {
            top: 2%;
            left: calc(50% - 45px);

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 135px;
              left: 10px;
            }
          }

          .seat-6-5 {
            top: 12%;
            right: 8%;

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 103px;
              left: -40px;
            }
          }

          .seat-6-6 {
            bottom: 28%;
            right: 5%;

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 43px;
              left: -40px;
            }
          }

          .seat-9-1 {
            bottom: 12%;
            left: calc(50% - 45px);

            .dnd-window-body-table-seats-seat-user-dealer {
              top: -20px;
              left: -20px;
            }
          }

          .seat-9-2 {
            bottom: 26%;
            left: 14%;

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 50px;
              right: -40px;
            }
          }

          .seat-9-3 {
            top: calc(40% - 45px);
            left: 2%;

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 110px;
              right: -30px;
            }
          }

          .seat-9-4 {
            top: 9%;
            left: 12%;

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 133px;
              right: 10px;
            }
          }

          .seat-9-5 {
            top: 2%;
            left: calc(40% - 45px);

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 133px;
              left: 20px;
            }
          }

          .seat-9-6 {
            top: 2%;
            right: calc(40% - 45px);

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 133px;
              right: 20px;
            }
          }

          .seat-9-7 {
            top: 9%;
            right: 12%;

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 133px;
              left: 10px;
            }
          }

          .seat-9-8 {
            top: calc(40% - 45px);
            right: 2%;

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 110px;
              left: -30px;
            }
          }

          .seat-9-9 {
            bottom: 26%;
            right: 14%;

            .dnd-window-body-table-seats-seat-user-dealer {
              top: 50px;
              left: -40px;
            }
          }
        }
      }
    }
  }
}

.gamecard {
  position: relative;
  width: 57px;
  height: 81px;
  user-select: none;
  border-radius: 8px;
  padding-top: 5px;
  padding-left: 1px;
  background: linear-gradient(135deg, #fefefe, #d5d2d5);
  box-shadow: 0px 3px 2px rgba($color: #222, $alpha: 0.4);

  &-number {
    text-align: center;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-stretch: condensed;
    letter-spacing: -3px;
    transform: scale(1, 1.4);
  }

  &-smallsign {
    position: absolute;
    top: 30px;
    left: 2px;

    svg {
      width: 20px;
    }
  }

  &-bigsign {
    position: absolute;
    top: 43px;
    left: 18px;

    svg {
      width: 33px;
    }
  }
}
