@font-face {
  font-family: 'Ember';
  src: url('src/styles/fonts/ember/AmazonEmber_W_Rg.eot');
  src:
    url('src/styles/fonts/ember/AmazonEmber_W_Rg.eot?#iefix') format('embedded-opentype'),
    url('src/styles/fonts/ember/AmazonEmber_W_Rg.woff') format('woff'),
    url('src/styles/fonts/ember/AmazonEmber_Rg.ttf') format('truetype');
}

* {
  font-family: 'Ember' !important;
}

.language-switcher {
  fieldset {
    border: none !important;
  }

  .MuiSelect-select {
    display: flex;
    gap: 5px;

    img {
      height: 25px;
    }
  }
}

.categories {
  &-swiper {
    // width: 100%;
    // height: 100%;

    &-slide {
      width: auto;

      &-card {
        display: flex;
        flex-direction: column;
        gap: 24px;
        text-align: center;
        padding-bottom: 40px;

        &-header {
          width: 180px;
          height: 180px;
          background: rgba(0, 0, 0, 0.04);
          border-radius: 50%;
          transition: border-radius 0.7s;

          &-image {
            width: 130px;
            height: 130px;
            margin: 25px auto;
            user-select: none;
            cursor: pointer;
          }
        }

        &-title {
          font-size: 18px;
          font-weight: 700;
          line-height: 24px;
          cursor: default;
          user-select: none;
        }
      }
    }

    .swiper-slide-active {
      .categories-swiper-slide-card-header {
        border-radius: 5%;
      }
    }
  }
}

.food-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 400px;
}

.modal {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border: 1px solid #e4dfdf;
  border-radius: 10px;
  padding: 15px;
}

.home {
  display: flex;
  flex-direction: row;
  gap: 30px;

  &-tables {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-table {
      display: flex;
      flex-direction: row;
      padding: 0px !important;
      margin: 10px;
      border: 1px solid #efefef;
      padding: 20px;
      border-radius: 2%;
      display: flex;
      flex-direction: column;
      width: 180px !important;

      &-image {
        width: 180px !important;
        height: 100px;
      }

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  &-runtables {
    display: flex;
    flex-direction: column;
  }

  &-runtable {
    margin-top: 15px;
    border: 1px solid #efefef;
    padding: 10px;
    border-radius: 2%;

    &-header {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }

    &-main {
      display: flex;
      flex-direction: row;
      gap: 30px;
      background-color: rgb(201, 226, 205);

      &-sidebar {
        &-waitinglist {
          overflow-y: auto;
          height: 100%;
          max-height: 100%;
          border: 1px solid rgb(102, 162, 112);
          border-radius: 5px;
          padding: 20px;
        }
      }

      &-body {
        position: relative;

        &-mainimage {
          width: 600px;
          max-width: 600px;
          min-width: 600px;
        }

        &-tablepot {
          position: absolute;
          left: 265px;
          top: 230px;
          color: white;
          font-size: 20px;
        }

        &-tablecards {
          position: absolute;
          display: flex;
          flex-direction: row;
          gap: 5px;
          height: 80px;
          left: 165px;
          top: 130px;

          &-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50px;
            min-width: 50px;
            max-width: 50px;
            padding: 1px;
            background-color: white;
            text-align: center;
            border-radius: 10px;
            box-shadow: -2px -2px 3px #777;
            cursor: default;
            user-select: none;

            &-number {
              font-size: 20px;
              font-weight: 700;
              color: #000;
              text-transform: uppercase;
            }

            &-type {
              width: 30px;
              min-width: 30px;
              max-width: 30px;
            }
          }
        }

        @keyframes blink {
          0% {
            border-color: rgb(255, 0, 191);
          }
          50% {
            border-color: rgb(214, 233, 51);
          }
          100% {
            border-color: rgb(255, 0, 81);
          }
        }

        &-actions {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border: 4px solid #efefef;
          border-radius: 10px;
          padding: 25px;
          gap: 15px;
          animation: blink 1s infinite alternate;
          background-color: #ebe8c8;

          .MuiSlider-root {
            width: 100px;
          }
        }

        &-seat {
          width: 100px;
          height: 100px;
          background-color: #acdaafb5;
          position: absolute;
          border-radius: 50%;
          border: 3px solid #33773a;
          cursor: pointer;

          .seat-user {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            user-select: none;

            &-avatar {
              width: 50px;
              min-width: 50px;
            }

            &-username {
              font-size: 10px;
            }

            &-cash {
              font-weight: bold;
            }

            &-isdealer {
              position: absolute;

              &-img {
                width: 50px;
              }
            }

            &-inpot {
              width: 50px;
              text-align: center;
              position: absolute;
              color: white;
            }

            &-winner {
              position: absolute;
              background-color: white;
            }

            &-achievement {
              text-wrap: wrap;
              position: absolute;
              background-color: white;
              z-index: 2;
              left: -190px;
              width: 200px;
              overflow: hidden;
              padding: 3px;
              border: 1px solid gray;
              word-break: break-all;
            }

            &-cards {
              position: absolute;
              display: flex;
              flex-direction: row;
              gap: 3px;
              height: 74px;
              cursor: default;
              user-select: none;

              &-card {
                width: 50px;
                min-width: 50px;
                max-width: 50px;
                padding: 1px;
                background-color: white;
                text-align: center;
                border-radius: 8px;
                box-shadow: -2px -2px 5px #928b8b;

                &-number {
                  font-size: 20px;
                  font-weight: 700;
                  color: #000;
                  text-transform: uppercase;
                }

                &-type {
                  width: 25px;
                  min-width: 25px;
                  max-width: 25px;
                }
              }

              .hide-card {
                padding: 2px;
                overflow: hidden;

                img {
                  max-width: 100%;
                }
              }
            }
          }
        }

        .seat-auth {
          border: 5px solid blueviolet;
        }

        .seat-turn {
          animation: blink 1s infinite alternate;
        }

        .seat-1 {
          top: 0px;
          left: 500px;

          .seat-user-cards {
            top: 5px;
            right: 105px;
          }

          .seat-user-isdealer {
            bottom: -50px;
            left: -35px;
          }

          .seat-user-inpot {
            bottom: -60px;
            left: -35px;
          }
        }

        .seat-2 {
          top: 290px;
          left: 500px;

          .seat-user-cards {
            top: 5px;
            right: 105px;
          }

          .seat-user-isdealer {
            top: -45px;
            left: -35px;
          }

          .seat-user-inpot {
            top: -65px;
            left: -35px;
          }
        }

        .seat-3 {
          top: 290px;
          left: 0px;

          .seat-user-cards {
            top: 5px;
            left: 100px;
          }

          .seat-user-isdealer {
            top: -45px;
            right: -35px;
          }

          .seat-user-inpot {
            top: -65px;
            right: -35px;
          }
        }

        .seat-4 {
          top: 0px;
          left: 0px;

          .seat-user-cards {
            top: 5px;
            left: 100px;
          }

          .seat-user-isdealer {
            bottom: -50px;
            right: -35px;
          }

          .seat-user-inpot {
            bottom: -60px;
            right: -35px;
          }
        }
      }
    }
  }
}

.dragging {
  z-index: 1;

  * {
    cursor: grabbing;
  }

  .dnd-window {
    --box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);
  }
}

.dnd {
  position: relative;

  &-window {
    box-shadow: var(--box-shadow);
    transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scale(var(--scale, 1));
    transition: box-shadow 300ms ease;

    background-color: red;
    width: 800px;
    height: 589px;
    border-radius: 10px;
    overflow: hidden;

    &-topbar {
      background-color: #1b1b1d;
      height: 40px;
      width: 100%;
      border-bottom: 2px solid #111111;

      &-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

        &-title {
          color: white;
          font-weight: bold;
          font-size: 16px;
          padding: 10px;
        }
      }
    }

    &-body {
      border-top: 2px solid #232323;
      &-table {
        &-backgroundimg {
          position: absolute;
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}
