@import './animation-durations.scss';

.popup-table-seats {
  .seat-6-1 {
    bottom: 12%;
    left: calc(50% - 45px);

    .popup-table-seats-seat-user-dealer {
      top: -20px;
      left: -20px;
    }

    .popup-table-seats-seat-user-pot {
      top: -24px;
      left: 95px;
    }
  }

  .seat-6-2 {
    bottom: 28%;
    left: 5%;

    .popup-table-seats-seat-user-dealer {
      top: 43px;
      right: -40px;
    }

    .popup-table-seats-seat-user-pot {
      top: 9px;
      left: 115px;
    }
  }

  .seat-6-3 {
    top: 12%;
    left: 8%;

    .popup-table-seats-seat-user-dealer {
      top: 103px;
      right: -40px;
    }

    .popup-table-seats-seat-user-pot {
      top: 160px;
      left: 86px;
    }
  }

  .seat-6-4 {
    top: 2%;
    left: calc(50% - 45px);

    .popup-table-seats-seat-user-dealer {
      top: 135px;
      left: 10px;
    }

    .popup-table-seats-seat-user-pot {
      top: 163px;
      left: 50px;
    }
  }

  .seat-6-5 {
    top: 12%;
    right: 8%;

    .popup-table-seats-seat-user-dealer {
      top: 103px;
      left: -40px;
    }

    .popup-table-seats-seat-user-pot {
      top: 160px;
      left: -50px;
    }
  }

  .seat-6-6 {
    bottom: 28%;
    right: 5%;

    .popup-table-seats-seat-user-dealer {
      top: 43px;
      left: -40px;
    }

    .popup-table-seats-seat-user-pot {
      top: 20px;
      left: -90px;
    }
  }

  .seat-9-1 {
    bottom: 12%;
    left: calc(50% - 45px);

    .popup-table-seats-seat-user-dealer {
      top: -20px;
      left: -20px;
    }

    .popup-table-seats-seat-user-pot {
      top: -11px;
      right: -43px;
    }
  }

  .seat-9-2 {
    bottom: 26%;
    left: 14%;

    .popup-table-seats-seat-user-dealer {
      top: 55px;
      right: -50px;
    }

    .popup-table-seats-seat-user-pot {
      top: 30px;
      right: -75px;
    }
  }

  .seat-9-3 {
    top: calc(40% - 35px);
    left: 2%;

    .popup-table-seats-seat-user-dealer {
      top: 100px;
      right: -40px;
    }

    .popup-table-seats-seat-user-pot {
      top: 60px;
      right: -80px;
    }
  }

  .seat-9-4 {
    top: 9%;
    left: 12%;

    .popup-table-seats-seat-user-dealer {
      top: 133px;
      right: 10px;
    }

    .popup-table-seats-seat-user-pot {
      top: 129px;
      right: -80px;
    }
  }

  .seat-9-5 {
    top: 2%;
    left: calc(40% - 45px);

    .popup-table-seats-seat-user-dealer {
      top: 133px;
      left: 20px;
    }

    .popup-table-seats-seat-user-pot {
      top: 163px;
      right: -25px;
    }
  }

  .seat-9-6 {
    top: 2%;
    right: calc(40% - 45px);

    .popup-table-seats-seat-user-dealer {
      top: 133px;
      right: 0px;
    }

    .popup-table-seats-seat-user-pot {
      top: 163px;
      right: 45px;
    }
  }

  .seat-9-7 {
    top: 9%;
    right: 10%;

    .popup-table-seats-seat-user-dealer {
      top: 140px;
      left: 10px;
    }

    .popup-table-seats-seat-user-pot {
      top: 129px;
      left: -80px;
    }
  }

  .seat-9-8 {
    top: calc(40% - 35px);
    right: 3%;

    .popup-table-seats-seat-user-dealer {
      top: 90px;
      left: -40px;
    }

    .popup-table-seats-seat-user-pot {
      top: 60px;
      left: -90px;
    }
  }

  .seat-9-9 {
    bottom: 26%;
    right: 14%;

    .popup-table-seats-seat-user-dealer {
      top: 55px;
      left: -50px;
    }

    .popup-table-seats-seat-user-pot {
      top: 30px;
      left: -80px;
    }
  }
}
