$dealCardTimeout: 0.5s;

.dnd-window-body-table-seats {
  .seat-6-1 {
    bottom: 12%;
    left: calc(50% - 45px);

    .dnd-window-body-table-seats-seat-user-dealer {
      top: -20px;
      left: -20px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: -24px;
      right: -60px;
    }

    @keyframes passCard-6-1-1 {
      from {
        top: -200px;
        left: 0px;
        opacity: 0;
      }

      to {
        top: 3px;
        left: -6px;
        opacity: 1;
      }
    }

    @keyframes passCard-6-1-2 {
      from {
        top: -200px;
        left: 0px;
        opacity: 0;
      }
      to {
        top: 3px;
        left: 38px;
        opacity: 1;
      }
    }

    .card-pass-1 {
      animation: passCard-6-1-1 $dealCardTimeout ease-out;
    }

    .card-pass-2 {
      animation: passCard-6-1-2 $dealCardTimeout ease-out;
    }
  }

  .seat-6-2 {
    bottom: 28%;
    left: 5%;

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 43px;
      right: -40px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 9px;
      right: -90px;
    }

    @keyframes passCard-6-2-1 {
      from {
        top: -100px;
        left: 300px;
        opacity: 0;
      }
      to {
        top: 3px;
        left: -6px;
        opacity: 1;
      }
    }

    @keyframes passCard-6-2-2 {
      from {
        top: -100px;
        left: 300px;
        opacity: 0;
      }
      to {
        top: 3px;
        left: 38px;
        opacity: 1;
      }
    }

    .card-pass-1 {
      animation: passCard-6-2-1 $dealCardTimeout ease-out;
    }

    .card-pass-2 {
      animation: passCard-6-2-2 $dealCardTimeout ease-out;
    }
  }

  .seat-6-3 {
    top: 12%;
    left: 8%;

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 103px;
      right: -40px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 160px;
      right: -50px;
    }

    @keyframes passCard-6-3-1 {
      from {
        top: 200px;
        left: 300px;
        opacity: 0;
      }
      to {
        top: 3px;
        left: -6px;
        opacity: 1;
      }
    }

    @keyframes passCard-6-3-2 {
      from {
        top: 200px;
        left: 300px;
        opacity: 0;
      }
      to {
        top: 3px;
        left: 38px;
        opacity: 1;
      }
    }

    .card-pass-1 {
      animation: passCard-6-3-1 $dealCardTimeout ease-out;
    }

    .card-pass-2 {
      animation: passCard-6-3-2 $dealCardTimeout ease-out;
    }
  }

  .seat-6-4 {
    top: 2%;
    left: calc(50% - 45px);

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 135px;
      left: 10px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 163px;
      right: -15px;
    }

    @keyframes passCard-6-4-1 {
      from {
        top: 200px;
        left: 0px;
        opacity: 0;
      }

      to {
        top: 3px;
        left: -6px;
        opacity: 1;
      }
    }

    @keyframes passCard-6-4-2 {
      from {
        top: 200px;
        left: 0px;
        opacity: 0;
      }
      to {
        top: 3px;
        left: 38px;
        opacity: 1;
      }
    }

    .card-pass-1 {
      animation: passCard-6-4-1 $dealCardTimeout ease-out;
    }

    .card-pass-2 {
      animation: passCard-6-4-2 $dealCardTimeout ease-out;
    }
  }

  .seat-6-5 {
    top: 12%;
    right: 8%;

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 103px;
      left: -40px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 160px;
      left: -50px;
    }

    @keyframes passCard-6-5-1 {
      from {
        top: 100px;
        left: -300px;
        opacity: 0;
      }

      to {
        top: 3px;
        left: -6px;
        opacity: 1;
      }
    }

    @keyframes passCard-6-5-2 {
      from {
        top: 100px;
        left: -300px;
        opacity: 0;
      }
      to {
        top: 3px;
        left: 38px;
        opacity: 1;
      }
    }

    .card-pass-1 {
      animation: passCard-6-5-1 $dealCardTimeout ease-out;
    }

    .card-pass-2 {
      animation: passCard-6-5-2 $dealCardTimeout ease-out;
    }
  }

  .seat-6-6 {
    bottom: 28%;
    right: 5%;

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 43px;
      left: -40px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 20px;
      left: -90px;
    }

    @keyframes passCard-6-6-1 {
      from {
        top: -100px;
        left: -300px;
        opacity: 0;
      }

      to {
        top: 3px;
        left: -6px;
        opacity: 1;
      }
    }

    @keyframes passCard-6-6-2 {
      from {
        top: -100px;
        left: -300px;
        opacity: 0;
      }
      to {
        top: 3px;
        left: 38px;
        opacity: 1;
      }
    }

    .card-pass-1 {
      animation: passCard-6-6-1 $dealCardTimeout ease-out;
    }

    .card-pass-2 {
      animation: passCard-6-6-2 $dealCardTimeout ease-out;
    }
  }

  .seat-9-1 {
    bottom: 12%;
    left: calc(50% - 45px);

    .dnd-window-body-table-seats-seat-user-dealer {
      top: -20px;
      left: -20px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: -11px;
      right: -43px;
    }
  }

  .seat-9-2 {
    bottom: 26%;
    left: 14%;

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 55px;
      right: -50px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 30px;
      right: -75px;
    }
  }

  .seat-9-3 {
    top: calc(40% - 35px);
    left: 2%;

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 100px;
      right: -40px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 60px;
      right: -80px;
    }
  }

  .seat-9-4 {
    top: 9%;
    left: 12%;

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 133px;
      right: 10px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 129px;
      right: -80px;
    }
  }

  .seat-9-5 {
    top: 2%;
    left: calc(40% - 45px);

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 133px;
      left: 20px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 163px;
      right: -25px;
    }
  }

  .seat-9-6 {
    top: 2%;
    right: calc(40% - 45px);

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 133px;
      right: 0px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 163px;
      right: 45px;
    }
  }

  .seat-9-7 {
    top: 9%;
    right: 10%;

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 140px;
      left: 10px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 129px;
      left: -80px;
    }
  }

  .seat-9-8 {
    top: calc(40% - 35px);
    right: 3%;

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 90px;
      left: -40px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 60px;
      left: -90px;
    }
  }

  .seat-9-9 {
    bottom: 26%;
    right: 14%;

    .dnd-window-body-table-seats-seat-user-dealer {
      top: 55px;
      left: -50px;
    }

    .dnd-window-body-table-seats-seat-user-pot {
      top: 30px;
      left: -80px;
    }
  }
}
